@import './../../design-tokens/colors';

.sidepanel {
    width: 320px;
    padding: 2rem;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 2rem;

            a {
                display: block;
                align-content: center;
                text-decoration: none;
                height: 40px;
            }

            :not(.active) {
                color: black;

                &:hover {
                    color: $primary;
                }
            }

            .active {
                color: $primary;
            }

        }
    }

}