@import "./design-tokens/breakpoints.scss";

.siteFrame {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    .sidePanelContainer {
        width: 320px;
        border-right: 1px solid silver;
        display: block;

        @include break(xs) {
            display: none;
        }
    }
    .outletContainer {
         padding: 2rem;
         width: 100%;
    }
}

